@font-face {
    font-family: 'YeogiOttaeJalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "YeogiOttaeJalnan";
    background: linear-gradient(135deg, #969696, #000000);
}


header {
     background: linear-gradient(135deg, #969696, #000000);
    color: white;
    text-align: center;
    padding: 20px;
}


main {
    text-align: center;
}

nav {
    margin-top: 20px;
}


nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: rgba(248, 245, 245, 0.15);
}


nav a:hover {
    background-color: white;
    color: #000;
}


main {
    min-height: 500px;
    color: white;
    padding: 60px 20px;
}

footer {
     background: linear-gradient(135deg, #969696, #000000);
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 30px;
}

.text {
    width: 80%;
    max-width: 700px;
    margin: 30px auto 0;
    padding: 25px 30px;

    background-color: #fff8f0;
    border-radius: 15px;
    border: 1px solid #ead8c8;

    text-align: center;
    line-height: 1.8;
    color: #444;
    font-size: 16px;
}

.card-container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 16px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3,
.card p,
.card strong {
    padding: 0 20px;
}

.card strong {
    color: #b85c38;
}


@keyframes toastIn {
            0% { transform: translateY(20px); opacity: 0;}
            100% { transform: translateY(0); opacity: 1;}
        }

.toast {
            padding: 20px;
            animation-name: toastIn;
            animation-duration: 1.6s;
            animation-timing-function: ease-out;
            animation-delay: 0.2s;
            animation-fill-mode: forwards;
            opacity: 0;
        }

.toast img {
    width: 60%;
    height: 320px;
    object-fit: cover;
    border-radius: 15px;
}        

@media (max-width: 786px) {
    .mobileBox {
        background: linear-gradient(135deg, #812c2c, #000000);
        font-size: 12px;
    }
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

